<div id="content">
  <sa-widgets-grid>
    <div class="col-sm-12">
      <div class="col-xs-4 .col-md-4">
        <article>
        <sa-widget>
          <div role="content">
            <div class="widget-body">
              <p>Drug Information</p>
              <hr class="simple">
              <table class="table" id="drug_info">
                <tbody>
                  <tr style="border-top:0px">
                    <td>Commodity</td>
                    <th id="drug_name">ABACAVIR (ABC) Liquid 20MG/ML (240ml)</th>
                  </tr>
                  <tr>
                    <td>Unit</td>
                    <th id="drug_unit"> Bottle</th>
                  </tr>
                  <tr>
                    <td>Total Stock</td>
                    <th id="stock_status" style="color:#00B831;font-weight:bold;">0</th>
                  </tr>
                  <tr>
                    <td>Max Stock Level</td>
                    <th id="maximum_consumption">0</th>
                  </tr>
                  <tr>
                    <td>Min Stock Level</td>
                    <th id="minimum_consumption">0</th>
                  </tr>
                  <tr>
                    <td>Avg Monthly Consumption</td>
                    <th id="avg_consumption">0</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </sa-widget>
        </article>
      </div>
      <div class="col-xs-12 col-md-8">
        <div class="row">
          <article class="col-sm-12">
            <sa-widget [editbutton]="false" color="darken">
              <header><span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Batch Information</h2>
              </header>
              <div>
                <div class="widget-body no-padding">
                  <sa-datatable paginationLength="true" tableClass="table table-striped table-bordered table-hover" width="100%">
                    <thead>
                      <tr>
                        <th data-hide="phone">Drug Name</th>
                        <th data-class="expand">Pack Size</th>
                        <th data-hide="phone">Batch No</th>
                        <th>Quantity</th>
                        <th data-hide="phone,tablet">Expiry Date</th>
                      </tr>
                    </thead>
                  </sa-datatable>
                </div>
              </div>
            </sa-widget>
          </article>
        </div>
      </div>
      <article class="col-sm-12">
      <sa-widget [editbutton]="false" color="darken">
        <header><span class="widget-icon"> <i class="fa fa-table"></i> </span>
          <h2>Transaction Information</h2>
        </header>
        <div>
          <div class="widget-body no-padding">
            <sa-datatable paginationLength="true" tableClass="table table-striped table-bordered table-hover" width="100%">
              <thead>
                <tr>
                  <th>Ref./Order No</th>
                  <th>Transaction Date</th>
                  <th>Transaction Type</th>
                  <th>Batch No.</th>
                  <th>Expiry Date</th>
                  <th>Pack Size</th>
                  <th>No. of Packs</th>
                  <th>Quantity</th>
                  <th>Balance</th>
                  <th>Pack Cost</th>
                  <th>Total Price</th>
                </tr>
              </thead>
            </sa-datatable>
          </div>
        </div>
      </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>