<div id="content">
	<sa-widgets-grid>
		<div class="row">
			<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<sa-widget>
					<header>
						<h2><strong>Patients</strong> <i>View Patient</i></h2>
					</header>
					<div role="content">
						<div class="jarviswidget-editbox">
						</div>
						<div class="widget-body">
							<form #patientDetailForm="ngForm">
								<!-- Patients Information and Demographics -->
								<fieldset class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<legend>Patient Information and Demographics</legend>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Medical Record No.</label>
										<input class="form-control" placeholder="Medical Record No." type="text" [(ngModel)]="model.id" name="medicalRecordNumber" disabled>
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label><span style="color:red; font-weight:bold">*</span>  Patient Number CCC</label>
										<input class="form-control" required placeholder="Patient Number" type="text" [(ngModel)]="model.ccc_number" name="ccc_number" disabled>
									</div>
									<!--<div *ngIf="formErrors.ccc_number" class="form-control col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right alert alert-danger">
										{{formErrors.ccc_number}}
									</div>-->
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Last Name</label>
										<input class="form-control" placeholder="Last name" type="text" [(ngModel)]="model.last_name" name="last_name" disabled>
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label><span style="color:red; font-weight:bold">*</span> First Name</label>
										<input class="form-control" required placeholder="First Name" type="text" [(ngModel)]="model.first_name" name="first_name" disabled>
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Other Name</label>
										<input class="form-control" placeholder="Other Name" type="text" [(ngModel)]="model.other_name" name="other_name" disabled>
									</div>
									<!-- Error handling -->
									<!--<div *ngIf="formErrors.first_name" class="form-control col-xs-12 col-sm-6 col-md-6 col-lg-6 alert alert-danger">
										{{ formErrors.first_name }}
									</div>-->
									<!-- Date picker -->
									<div class="col-sm-6">
										<div class="form-group">
											<label><span style="color:red; font-weight:bold">*</span> Date of Birth:</label>
											<div class="input-group">
												<input type="text" required name="birth_date" [(ngModel)]="model.birth_date" placeholder="Select a date" class="form-control datepicker" [saUiDatepicker]="{ dateFormat: 'mm/dd/yy' , changeMonth: true, changeYear: true, yearRange : 'c-65:c+0', maxDate: 'new Date()'}"
													(selectDate)='setDateOfBirth($event)' disabled>
												<!--<span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
											</div>
										</div>
									</div>
									<!-- End of date picker -->
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Place of birth</label>
										<select class="form-control" [(ngModel)]="model.place_of_birth" name="place_of_birth" disabled>
											<option *ngFor="let location of locations | async " value="{{location.id}}">{{location.name}}</option>
											<option value="Mombasa">Mombasa</option>											
										</select>
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Age (Years)</label>
										<input class="form-control" placeholder="Age (Years)" type="text" [(ngModel)]="model.age_in_years" name="ageYears" disabled="disabled">
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Age (Months)</label>
										<input class="form-control" placeholder="Age (Months)" type="text" [(ngModel)]="model.age_in_months" name="ageMonths" disabled="disabled">
									</div>
									<div *ngIf="model.gender !== 'Female'" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label><span style="color:red; font-weight:bold">*</span> Gender</label>
										<select required class="form-control" id="select-1" [(ngModel)]="model.gender" name="gender" disabled>
											<option value="Male">Male</option>
											<option value="Female">Female</option>
										</select>
									</div>
									<div *ngIf="model.gender === 'Female'" class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label> <span style="color:red; font-weight:bold">*</span> Gender</label>
										<select required class="form-control" id="select-1" [(ngModel)]="model.gender" name="gender" disabled>
											<option value="Male">Male</option>
											<option value="Female">Female</option>
										</select>
									</div>
									<div *ngIf="model.gender === 'Female'" class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Pregnant?</label>
										<select class="form-control" id="select-1" [(ngModel)]="model.is_pregnant" name="is_pregnant" disabled>
											<option value="1">Yes</option>
											<option value="0">No</option>
										</select>
									</div>
									<div *ngIf="edit" class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Start weight (KG)</label>
										<input class="form-control" placeholder="Weight" type="text" [(ngModel)]="model.current_weight" name="weight" required disabled>
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label><span style="color:red; font-weight:bold">*</span> Weight (KG)</label>
										<input class="form-control" placeholder="Weight" type="text" [(ngModel)]="model.current_weight" name="weight" required disabled>
									</div>
									<div *ngIf="edit" class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Current height (KG)</label>
										<input class="form-control" placeholder="Weight" type="text" [(ngModel)]="model.current_weight" name="weight" required disabled>
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label><span style="color:red; font-weight:bold">*</span> Height (CM)</label>
										<input class="form-control" placeholder="Height" type="text" [(ngModel)]="model.current_height" name="height" required disabled>
									</div>
									<!-- Error handling -->
									<!--<div *ngIf="formErrors.weight" class="form-control col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-left alert alert-danger">
										{{ formErrors.weight }}
									</div>-->
									<!--<div *ngIf="formErrors.height" class="form-control col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-left alert alert-danger">
										{{ formErrors.height }}
									</div>-->
									<div *ngIf="edit" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Current Body Surface Area (MSQ)</label>
										<input class="form-control" placeholder="<<auto generate>>" [(ngModel)]="model.bsa" type="text" disabled="disabled " name="bsa" disabled />
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Body Surface Area (MSQ)</label>
										<input class="form-control" placeholder="<<auto generate>>" [(ngModel)]="model.bsa" type="text" disabled="disabled " name="bsa" disabled />
									</div>
									<div class="form-group col-xs-12 col-sm-5 col-md-5 col-lg-5">
										<label>Phone Contact</label>
										<input class="form-control" placeholder="e.g 0712345678" type="text" [(ngModel)]="model.phone_number" name="phone_number" disabled>
									</div>
									<div class=" form-group col-xs-12 col-sm-7 col-md-7 col-lg-7">
										<div class="row">
											<div class="col-sm-12 col-md-12">
												<label class="control-label">Receive SMS Reminders</label>
											</div>
											<div class="col-sm-12 col-md-10">
												<label class="radio radio-inline no-margin">
            									<input type="radio" value="1" class="radiobox style-2" [(ngModel)]="model.is_sms" name="is_sms" disabled/>
												<span>Yes</span> 
												</label>
												<label class="radio radio-inline">
												<input type="radio" value="0" class="radiobox style-2" [(ngModel)]="model.is_sms" name="is_sms" disabled/>
												<span>No</span> 
												</label>
											</div>

										</div>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Patients Physical Contact(s)</label>
										<textarea class="form-control" placeholder="Textarea" rows="3" [(ngModel)]="model.physical_address" name="physical_address" disabled></textarea>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Patients Alternate Contact(s)</label>
										<textarea class="form-control" placeholder="Textarea" rows="3" [(ngModel)]="model.alternate_contact" name="alternate_contact" disabled></textarea>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Does patient belong to any support group?</label>
										<div class=" form-group col-sm-12">
											<label class="checkbox-inline"><input class="form" type="checkbox" [(ngModel)]="model.is_support" name="is_support" disabled>Yes</label>
										</div>
										<textarea class="form-control" placeholder="Textarea" rows="3" [(ngModel)]="model.support_group" name="support_group" [disabled]="model.is_support != true"></textarea>
									</div>
								</fieldset>
								<!-- Patient History -->
								<fieldset class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<legend>Patient History</legend>
									<div *ngIf="model.age_in_years >= 18">
										<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Patient Status</label>
										<select class="form-control" id="select-1" [(ngModel)]="model.patient_status" name="patient_status" disabled>
											<option value="no partner">No partner</option>
											<option value="concordant">Concordant</option>
											<option value="discordant">Discordant</option>
										</select>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Disclosure</label>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="row">
											<div class="col-sm-12 col-md-10">
												<label class="radio radio-inline no-margin">
            									<input type="radio" value="1" class="radiobox style-2" [(ngModel)]="model.disclosure" name="disclosure" disabled/>
												<span>Yes</span> 
												</label>
												<label class="radio radio-inline">
												<input type="radio" value="0" class="radiobox style-2" [(ngModel)]="model.disclosure" name="disclosure" disabled/>
												<span>No</span> 
												</label>
											</div>
										</div>
									</div>
									<div *ngIf="model.patient_status == 'concordant'" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Match to spouse in this ccc?</label>
										<input class="form-control" placeholder="Enter ccc number" [(ngModel)]="model.spouse_ccc" type="text" name="spouse_ccc" disabled/>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Family planning method</label>
										<ss-multiselect-dropdown [options]="familyPlanning | async" [texts]="myTexts" [settings]="mySettings" [(ngModel)]="model.family_planning"  [ngModelOptions]="{standalone: true}"></ss-multiselect-dropdown>
									</div>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Does Patient have other Chronic Illnesses</label>
										<ss-multiselect-dropdown [options]="chronicIllness | async" [texts]="myTexts" [settings]="mySettings" [(ngModel)]="model.chronic_illnesses"  [ngModelOptions]="{standalone: true}"></ss-multiselect-dropdown>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>If other Illnesses</label>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label class="checkbox-inline"><input type="checkbox" [(ngModel)]="model.is_illness" name="is_illness" disabled>Click Here</label>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>List Them Below (Type and enter to add tag)</label>
										<textarea class="form-control" rows="2" [(ngModel)]="model.other_illness" name="other_illness" [disabled]="model.is_illness != true"></textarea>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Is Patient Taking any Other Drugs?</label>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label class="checkbox-inline"><input type="checkbox" [(ngModel)]="model.is_drugs" name="is_drugs" disabled>Yes</label>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>List Them</label>
										<textarea class="form-control" rows="2" [(ngModel)]="model.other_drugs" name="drugs" [disabled]="model.is_drugs != true" ></textarea>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Drug Allergies/ADR</label>
										<ss-multiselect-dropdown [options]="allergiesList | async" [texts]="myTexts" [settings]="mySettings" [(ngModel)]="model.drug_allergies" name="allergies"></ss-multiselect-dropdown>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Does Patient have any Other Drugs/ADR not Listed?</label>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label class="checkbox-inline"><input type="checkbox" [(ngModel)]="model.is_allergies" name="is_allergies" disabled>Yes</label>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>List Them</label>
										<textarea class="form-control" rows="2" [(ngModel)]="model.other_allergies" name="other_allergies" [disabled]="model.is_allergies != true"></textarea>
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Does Patient Smoke?</label>
										<select class="form-control" id="select-1" [(ngModel)]="model.is_smoke" name="is_smoke" disabled>
											<option value="0">No</option>
											<option value="1">Yes</option>
										</select>
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Does Patient Drink Alcohol?</label>
										<select class="form-control" id="select-1" [(ngModel)]="model.is_alcohol" name="is_alcohol" disabled>
											<option value="0">No</option>
											<option value="1">Yes</option>
										</select>
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Tested for TB?</label>
										<select class="form-control" id="select-1" [(ngModel)]="model.is_tb_tested" name="is_tb_tested" disabled>
											<option value="0">No</option>
											<option value="1">Yes</option>
										</select>
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Does Patient have TB?</label>
										<select class="form-control" id="select-1" [(ngModel)]="model.is_tb" name="tb" disabled>
											<option value="0">No</option>
											<option value="1">Yes</option>
										</select>
									</div>
									<div *ngIf="model.is_tb == 1" class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Select TB Category</label>
										<select class="form-control" id="select-1" [(ngModel)]="model.tb_category" name="tb_category" disabled>
											<option selected>--Selected--</option>
											<option value="1">Category 1</option>
											<option value="2">Category 2</option>
										</select>
									</div>
									<div *ngIf="model.tb_category >= 1"class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Does Patient have TB?</label>
										<select class="form-control" id="select-1" [(ngModel)]="model.tb_phase" name="tb_phase" disabled>
											<option value="intensive">Intensive</option>
											<option value="continuation">Continuation</option>
											<option value="completed">Completed</option>
										</select>
									</div>
									<div *ngIf="model.tb_phase != null">
										<div [ngSwitch]="model.tb_phase">
											<div *ngSwitchCase="'completed'">
												<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
													<label>End of phase:</label>
														<div class="input-group">
															<input type="text" name="enrollment_date" placeholder="End phase" class="form-control datepicker" [saUiDatepicker]="{ dateFormat: 'dd/mm/yy' }" (selectDate)='setDate($event,"tb_end")' disabled> 
															<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
														</div>	
												</div>	
											</div>
											<div *ngSwitchDefault>
												<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
													<div class="form-group">
														<label>Start of phase:</label>
														<div class="input-group">
															<input type="text" name="enrollment_date" placeholder="Start phase" class="form-control datepicker" [saUiDatepicker]="{ dateFormat: 'dd/mm/yy', maxDate: 'new Date()' }" (selectDate)='setDate($event,"tb_start")' disabled> 
															<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
														</div>
													</div>
												</div>
												<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
													<label>End of phase:</label>
														<div class="input-group">
															<input type="text" name="enrollment_date" placeholder="End phase" class="form-control datepicker" [saUiDatepicker]="{ dateFormat: 'dd/mm/yy' }" (selectDate)='setDate($event,"tb_end")' disabled> 
															<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
														</div>	
												</div>
											</div>
										</div>
									</div>
								</fieldset>

								<!-- Patient Information -->
								<fieldset class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<legend>Patient Information</legend>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<label><span style="color:red; font-weight:bold">*</span> Enrollment date:</label>
											<div class="input-group">
												<input  required type="text" name="enrollment_date" placeholder="Select a date" class="form-control datepicker" [saUiDatepicker]="{ dateFormat: 'dd/mm/yy', maxDate: 'new Date()' }" (selectDate)='setDate($event,"enrollment")' disabled>
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label><span style="color:red; font-weight:bold">*</span> Current Status</label>
										<select  required class="form-control" id="select-1" [(ngModel)]="model.current_status" name="current_status" disabled>
											<option selected>--Select--</option>
											<option value="Active">Active</option>
											<option value="Inactive">Inactive</option>
										</select>
									</div>
									<div *ngIf="edit" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
										<label>Date of status change:</label>
											<div class="input-group">
												<input type="text" name="enrollment_date" placeholder="End date" class="form-control datepicker" [saUiDatepicker]="{ dateFormat: 'dd/mm/yy' }" (selectDate)='setDate($event, "isoniazid_end")' disabled> 
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>	
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label><span style="color:red; font-weight:bold">*</span> Source of Patient</label>
										<!--<select  required class="form-control" id="select-1" [(ngModel)]="model.source" name="source">
											<option *ngFor="let source of patientSources | async">{{source.name}}</option>
											<input type="hidden" value="{{source.name}}" >
										</select>-->
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label><span style="color:red; font-weight:bold">*</span> Type of Service</label>
										<select  required class="form-control" id="select-1" [(ngModel)]="model.service_type" name="service_type" (click)="setService(model.service_type)" disabled>
											<!--<option *ngFor="let service of patientServices" value=""></option>-->
											<option value="">ART</option>
											<option value="">PMTCT</option>
											<option value="PEP">PEP</option>
											<option value="">PreP</option>
											<option value="">OI Only</option>
										</select>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Start Regimen</label>
										<select  required class="form-control" id="select-1" [(ngModel)]="model.regimen" name="regimen" disabled>
											<option selected>--Select--</option>
											<option value="AF1A | AZT + 3TC + NVP">AF1A | AZT + 3TC + NVP</option>
											<option value="AF1A | AZT + 3TC + NVP">AF1A | AZT + 3TC + NVP</option>
											<option value="AF1A | AZT + 3TC + NVP">AF1A | AZT + 3TC + NVP</option>
										</select>
									</div>
									<div *ngIf="model.service_type == 'PEP'" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Pep reason</label>
										<select  required class="form-control" id="select-1" [(ngModel)]="model.pep_reason" name="regimen" disabled>
											<option selected>--Select--</option>
											<option value="Occupational">Occupational</option>
											<option value="Sexual Assault">Sexual Assault</option>
											<option value="Other Reason">Other Reason</option>
										</select>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Start Regimen Date</label>
										<input type="text" name="regimen_date" placeholder="Regimen start date" class="form-control datepicker" [saUiDatepicker]="{ dateFormat: 'dd/mm/yy', maxDate: 'new Date()' }" (selectDate)='setDate($event,"regimen")' disabled>
									</div>
									<div *ngIf="model.service_type != 'PEP'" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>WHO Stage</label>
										<select class="form-control" id="select-1" [(ngModel)]="model.who_stage" name="who_stage">
											<option *ngFor="let who_stage of patientWhostage | async" value="{{who_stage.id}}">{{who_stage.name}}</option>
										</select>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Drug Prophylaxis</label>
										<ss-multiselect-dropdown [options]="patientProphylaxis | async" [texts]="myTexts" [settings]="mySettings" [(ngModel)]="model.prophylaxis"  [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
									</div>
									<div *ngIf="model.prophylaxis == 3">
										<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<div class="form-group">
												<label>Isoniazid start date:</label>
												<div class="input-group">
													<input type="text" name="enrollment_date" placeholder="Start date" class="form-control datepicker" [saUiDatepicker]="{ dateFormat: 'dd/mm/yy', maxDate: 'new Date()' }" (selectDate)='setDate($event,"isoniazid_start")' disabled> 
													<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
												</div>
											</div>
										</div>
										<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
											<label>Isoniazid end date:</label>
												<div class="input-group">
													<input type="text" name="enrollment_date" placeholder="End date" class="form-control datepicker" [saUiDatepicker]="{ dateFormat: 'dd/mm/yy' }" (selectDate)='setDate($event, "isoniazid_end")' disabled> 
													<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
												</div>	
										</div>
									</div>
									<!--<div *ngIf="edit != true" class="col-sm-12" align="right">
										<button class="btn btn-primary" type="submit" [disabled]="!patientViewForm.form.valid">
											<i class="fa fa-save"></i> Save
										</button>
										<button class="btn btn-primary" type="button">
											<i class="fa fa-save"></i> Dispense
										</button>
										<input type="reset" class="btn btn-danger button_size" value="Reset">
									</div>
									<div *ngIf="edit" class="col-sm-12" align="right">
										<button class="btn btn-primary" type="button" [disabled]="!patientAddForm.form.valid">
											<i class="fa fa-save"></i> Update Patient Information
										</button>
									</div>-->
								</fieldset>
								<fieldset class="col-xs-48 col-sm-12 col-md-12 col-lg-12">
									<div>
										<!-- widget content -->
										<div class="widget-body">
											<hr class="simple">
											<ul id="myTab3" class="nav nav-tabs">
												<li class="active pull-right">
													<a data-toggle="modal" data-target="#viralLoadModal">Viral Load Data</a>
												</li>
												<li class="active pull-right">
													<a data-toggle="modal" data-target="#patientSummaryModal">Patient Info Report</a>
												</li>
												<li class="active pull-right">
													<a class="mdl-navigation__link" [routerLink]="['/patients/edit']">Edit Patient Record</a>
												</li>
												<li class="active pull-right">
													<a class="mdl-navigation__link" [routerLink]="['/patients/dispense']">Dispense to Patient</a>
												</li>
											</ul>
											<tabset class="padding-5">
												<sa-widget [editbutton]="false" color="darken">
													<header><span class="widget-icon"> <i class="fa fa-table"></i> </span>
														<h2>Dispensing History</h2>
													</header>
													<div>
														<div class="widget-body no-padding">
															
														</div>
													</div>
												</sa-widget>
												<!--Viral load data Modal-->
												<div id="viralLoadModal" class="modal fade" role="dialog">
													<div class="modal-dialog modal-lg">
														<div class="modal-content">
															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>															
																<h4 class="modal-title">Viral Load Summary</h4>
															</div>
															<div class="modal-body">

																<div class="row">
																	<div class="col-md-12">
																		<div class="form-group">
																			<div class="table-responsive">
																				<table class="table table-bordered">
																					<thead>
																						<tr>
																							<th [ngStyle]="{width:'60%'}">Date Tested</th>
																							<th>Result</th>
																						</tr>
																					</thead>
																					<tbody>
																						<tr>
																							<td>This and That Day</td>
																							<td>Ebola!!!!!</td>
																						</tr>
																					</tbody>
																				</table>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<!--End of viralLoadModal-->
												<!--Patient Summary Modal-->
												<div id="patientSummaryModal" class="modal fade" role="dialog">
													<div class="modal-dialog modal-lg">
														<div class="modal-content">
															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
																<h4 class="modal-title">Patient Information Summary</h4>
															</div>
															<div class="modal-body">
																<div class="row">
																	<div class="col-md-12">
																		<div class="form-group">																			
																			<table class="table table-hover table-bordered table-striped table-condensed" style="zoom:90%;">
																				<thead>
																					<tr>
																						<th>Art Number</th>
																						<th>First Name</th>
																						<th>Surname</th>
																						<th>Sex</th>
																						<th>Age</th>
																						<th>Date Therapy Started</th>
																						<th>Current Status</th>
																						<th>Last Viral Load Date</th>
																						<th>Last Viral Load Result</th>
																					</tr>
																				</thead>
																				<tbody>
																					<tr>
																						<td>10101900189</td>
																						<td>first_name</td>
																						<td>last_name</td>
																						<td>Female</td>
																						<td>56</td>
																						<td>2005-08-10</td>
																						<td>Active</td>
																						<td>N/A</td>
																						<td>N/A</td>
																					</tr>
																				</tbody>
																			</table>
																			<table class="table table-hover table-bordered table-striped table-condensed" style="zoom:90%;">
																				<thead>
																				<tr>
																					<th rowspan="2">Date of Visit</th>
																					<th rowspan="2">Drug Name</th>
																					<th rowspan="2">Qty. Dispensed</th>
																					<th rowspan="2">Pill Count</th>
																					<th rowspan="2">Missed Pills</th>
																					<th colspan="4" style="text-align:center;">Adherence Rates</th>
																				</tr>
																				<tr>
																					<th>Pill Count(%)</th>
																					<th>Missed Pills(%)</th>
																					<th>Appointment(%)</th>
																					<th>Average(%)</th>
																				</tr>
																				</thead>
																				<tbody></tbody>																				
																		</table>
																		<table class="table table-hover table-bordered table-striped table-condensed" style="zoom:90%;">
																			<thead>
																			<tr>
																				<th>Date of Visit</th>
																				<th>Last Regimen Dispensed</th>
																				<th>Current Regimen</th>
																				<th>Reason for Change</th> 
																			</tr>
																			</thead>
																			<tbody>
																				<td></td>
																				<td></td>
																				<td></td>
																				<td></td>																				
																			</tbody>																			
																		</table>
																		<table class="table table-hover table-bordered table-striped table-condensed" style="zoom:90%;">
																			<thead>
																			<tr>
																				<th>Date of Next Appointment</th>
																				<th>Days to Appointment</th>
																			</tr>
																			</thead>
																			<tbody>
																				<td>2016-08-10</td>
																				<td>15</td>
																			</tbody>
																		</table>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<!--End Patient Summary Modal-->
											</tabset>
										</div>
										<!-- end widget content -->
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</sa-widget>
			</article>
		</div>
	</sa-widgets-grid>
</div>