<div id="content">
  <sa-widgets-grid>
    <div class="col-sm-12">
      <div class="col-xs-2 .col-md-2">
        <article>
          <sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false" [fullscreenbutton]="false"
            [custombutton]="false" [sortable]="false" color="blueDark">
            <header>
              <h2>Transaction Details</h2>
            </header>
          </sa-widget>
        </article>
      </div>
      <div class="col-xs-10 .col-md-10">        
        <sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false" [fullscreenbutton]="false"
          [custombutton]="false" [sortable]="false" color="blueDark">
          <header>
            <h2>Drug Details</h2>
          </header>
          <div class="table-responsive">

            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Column name</th>
                  <th>Column name</th>
                  <th>Column name</th>
                  <th>Column name</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Row 1</td>
                  <td>Row 2</td>
                  <td>Row 3</td>
                  <td>Row 4</td>
                </tr>
                <tr>
                  <td>Row 1</td>
                  <td>Row 2</td>
                  <td>Row 3</td>
                  <td>Row 4</td>
                </tr>
                <tr>
                  <td>Row 1</td>
                  <td>Row 2</td>
                  <td>Row 3</td>
                  <td>Row 4</td>
                </tr>
                <tr>
                  <td>Row 1</td>
                  <td>Row 2</td>
                  <td>Row 3</td>
                  <td>Row 4</td>
                </tr>
                <tr>
                  <td>Row 1</td>
                  <td>Row 2</td>
                  <td>Row 3</td>
                  <td>Row 4</td>
                </tr>
                <tr>
                  <td>Row 1</td>
                  <td>Row 2</td>
                  <td>Row 3</td>
                  <td>Row 4</td>
                </tr>
              </tbody>
            </table>

          </div>
        </sa-widget>
      </div>
    </div>
  </sa-widgets-grid>
</div>