<!-- Only display after patients list has been pulled from server-->
<div id="content" *ngIf="patients">

    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-12">

                <sa-widget [editbutton]="false" color="blueDark">
                    <header><span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Patients</h2>
                        <div class="widget-toolbar">
                            Filter Patients based on status:
                            <div class="btn-group" dropdown>
                                <button id="single-button" type="button" class="btn btn-xs btn-default" dropdownToggle>
                                    Choose Status <span class="caret"></span>
                                </button>
                                <ul dropdownMenu role="menu" aria-labelledby="single-button">
                                    <li role="menuitem"><a class="dropdown-item">Active</a></li>
                                    <li role="menuitem"><a class="dropdown-item">Inactive</a></li>
                                </ul>
                            </div>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="table-responsive">
                                <div class="dt-toolbar">
                                    <div class="col-xs-12 col-sm-6 hidden-xs">
                                        <div id="datatable_fixed_column_filter" class="dataTables_filter">
                                            <label>
                                                <span class="input-group-addon">
                                                  <i class="glyphicon glyphicon-search"></i>
                                                </span>
                                                <input type="search" class="form-control" [(ngModel)]="binding" placeholder="Search" aria-controls="datatable_fixed_column">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>CCC No</th>
                                            <th>Patient Name</th>
                                            <th>Next Appointment</th>
                                            <th>Contact</th>
                                            <th>Current Regimen</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let patient of patients.data | patientsFilter:'first_name':binding">
                                            <td>{{patient.ccc_number}}</td>
                                            <td>{{patient.first_name}}</td>
                                            <td>{{patient.phone_number}}</td>
                                            <td>{{patient.birth_date}}</td>
                                            <td>{{patient.facility_id}}</td>
                                            <td>{{patient.status}}</td>
                                            <td>
                                                <a class="btn btn-primary btn-xs" href="" [routerLink]="['/patients/dispense',patient.id]">Dispense</a>
                                                <a class="btn btn-primary btn-xs" href="" [routerLink]="['/patients/detail',patient.id]">Detail</a>
                                                <a class="btn btn-primary btn-xs" href="" [routerLink]="['/patients/edit',patient.id]">Edit</a>
                                                <a class="btn btn-primary btn-xs" href="" [routerLink]="['/patients/disable',patient.id]">Disable</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="dt-toolbar-footer">
                                        <div class="col-sm-6 col-xs-12 hidden-xs">
                                            <div aria-live="polite" class="dataTables_info" id="dt_basic_info" role="status">
                                                Showing {{patients.from}} to {{patients.to}} of {{patients.total}} entries
                                            </div>
                                            <div class="col-sm-6 col-xs-12 hidden-xs">
                                                <div class="">
                                                    <pagination class="dataTables_paginate paging_simple_numbers" [itemsPerPage]="patients.per_page" [totalItems]="patients.total" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
                                                </div>
                                            </div>
                                        </div>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </sa-widget>
            </article>
        </div>
    </sa-widgets-grid>
</div>