<div id="content">

  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">

        <sa-widget [editbutton]="false" color="blueDark">
          <header><span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Patients</h2>
          </header>
          <div>
            <div class="widget-body no-padding">

              <!--<sa-datatable
                [options]="{
            ajax: 'http://192.168.33.10/ADT_api/public/api/v1/patients',
            columns: [ {data: 'ccc_number'}, {data: 'first_name'}, {data: 'appointment.appointment_date'}, {data: 'phone_number'}, {data: 'regimen.name'}, {data: 'patient_status.status_id' } ], buttons: [
                'copy', 'excel', 'pdf', 'print'
                ] }
            "
                filter="true" tableClass="table table-condenced table-striped table-bordered" tableType="add-patient">-->

              <!-- This is where the configuration of the datatable takes place. -->
              <sa-datatable [options]="
        {
          colReorder: false,
          ajax: 'assets/api/tables/patients.dummy.json',
          columns: [{data: 'ccc_no'}, {data: 'patient_name'}, {data: 'next_appointment'} , {data: 'phone'}, {data: 'current_regimen'}, {data: 'status'}]
        }" filter="true" tableClass="table table-condenced table-striped table-bordered" width="80%" tableType="add-patient">

                <thead>
                  <tr>
                    <th class="hasinput"><input type="text" class="form-control" placeholder="Filter ccc">
                    </th>
                    <th class="hasinput">
                      <input class="form-control" placeholder="Filter Patient Name" type="text">       
                      </th>
                      <th></th>
                      <th class="hasinput"><input type="text" class="form-control" placeholder="Filter Contact">
                      </th>
                      <th class="hasinput"><input type="text" class="form-control" placeholder="Filter Current Regimen">
                      </th>
                      <th></th>
                      <th></th>
                  </tr>
                    <tr>
                      <th data-class="expand">CCC No</th>
                      <th>Patient Name</th>
                      <th data-hide="phone">Next Appointment</th>
                      <th data-hide="phone">Contact</th>
                      <th data-hide="phone,tablet">Current Regimen</th>
                      <th data-hide="phone,tablet">Status</th>
                      <th>Action</th>
                    </tr>
                </thead>
              </sa-datatable>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>