<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <sa-widget [editbutton]="false" color="darken">
          <header>
            <h2>Facility Details</h2>
          </header>
          <div class="widget-body" style="padding: 20px">            
            <form (ngSubmit)="onSubmit() "#facilityDetailForm="ngForm">
              <table class="table" style="width: 100%">
                <tbody>
                <tr>
                  <th>Organization Code/MFL No</th>
                  <td><input type="text" class="form-control" [(ngModel)]="model.code" name="organizationCode" disabled></td>
                </tr>
                <tr>
                  <th>Name of Organization/System</th>
                  <td><input type="text" class="form-control" [(ngModel)]="model.name" name="organizationName"></td>
                </tr>
                <tr>
                  <th>Adult Age</th>
                  <td><input type="text" class="form-control" [(ngModel)]="model.adult_age" name="adultAge"></td>
                </tr>
                <tr>
                  <th>Maximum Patients per Weekday</th>
                  <td><input type="text" class="form-control" [(ngModel)]="model.weekday_max" name="weekdayMax"></td>
                </tr>
                <tr>
                  <th>Maximum Patients per Weekend</th>
                  <td><input type="text" class="form-control" [(ngModel)]="model.weekend_max" name="weekendMax"></td>
                </tr>
                <tr>
                  <th>Facility Type</th>
                  <td>
                    <select class="form-control" id="select-1">
                      <option>Dispensary</option>
                      <option>Health Center</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <th>County</th>
                  <td>
                    <select class="form-control" id="select-1" name="county_id">
                      <option *ngFor="let counties of countiesList | async" value="{{counties.id}}">{{counties.name}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <th>Sub-County</th>
                  <td>
                    <select class="form-control" id="select-1">
                      <option>Starehe</option>
                      <option>Makadara</option>
                    </select>
                  </td>
                </tr>                
                <tr>
                  <th>Central Site</th>
                  <td>
                    <select class="form-control" id="select-1">
                      <option>Special Treatment Clinic</option>
                      <option>Spa Nursing Home</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <th>Facility Phone Number</th>
                  <td><input type="text" class="form-control" [(ngModel)]="model.phone_number" name="phoneNumber"></td>
                </tr>
                <tr>
                  <th>Does Facility want to send SMS to Patients?</th>
                  <td>
                    <select class="form-control" id="select-1">
                      <option>Yes</option>
                      <option>No</option>
                    </select>
                  </td>
                </tr>
                </tbody>
              </table>
              <hr>
              <div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <legend><b>Client Supported by</b></legend>
                <div class="inline-group" style="padding-left: 20px">
                  <label class="radio"><input type="radio" name="radio-inline" checked="checked">GOK Sponsorship</label>
                  <label class="radio"><input type="radio" name="radio-inline">PEPFAR Sponsorship</label>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <legend><b>Services Offered at the Facility</b></legend>
                <div class="inline-group" style="padding-left: 20px">
                  <label class="checkbox"><input type="checkbox" name="checkbox-inline" checked="checked">ART</label>
                  <label class="checkbox"><input type="checkbox" name="checkbox-inline">PMTCT</label>
                  <label class="checkbox"><input type="checkbox" name="checkbox-inline">PEP</label>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <legend><b>Client Supplied by</b></legend>
                <div class="inline-group" style="padding-left: 20px">
                  <label class="radio"><input type="radio" name="radio-inline" checked="checked">KEMSA</label>
                  <label class="radio"><input type="radio" name="radio-inline">Kenya Pharma</label>
                </div>
              </div>
              </div>
              <div style="text-align: right; padding: 12px">
              <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Update </button>
              </div>
              </form>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>
