{{diagnostic}}
TODO: Remove the above
<div id="content">
	<sa-widgets-grid>
		<!-- row -->
		<div class="row">
			<!-- ADD PATIENT WIDGET START -->
			<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<!-- Widget ID (each widget will need unique ID)-->
				<sa-widget>
					<!-- widget options:
                        usage: <sa-widget id="wid-id-0" [editbutton]="false">
                        [colorbutton]="false"
                        [editbutton]="false"
                        [togglebutton]="false"
                        [deletebutton]="false"
                        [fullscreenbutton]="false"
                        [custombutton]="false"
                        [collapsed]="true"
                        [sortable]="false"
                    -->
					<header>
						<h2><strong>Patients</strong> <i>Add Patient</i></h2>
						<h6 style="text-align:right">(Fields Marked with * Asterisks are required)</h6>
					</header>
					<!-- widget div-->
					<div role="content">

						<!-- widget edit box -->
						<div class="jarviswidget-editbox">
							<!-- This area used as dropdown edit box -->

						</div>
						<!-- end widget edit box -->

						<!-- widget content -->
						<div class="widget-body">

							<form (ngSubmit)="onSubmit()" #patientAddForm="ngForm">
								<!-- Patients Information and Demographics -->
								<fieldset class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<legend>Patient Information and Demographics</legend>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Medical Record No.</label>
										<input class="form-control" placeholder="Medical Record No." type="text" [(ngModel)]="model.record_number" name="medicalRecordNumber">
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>*Patient Number CCC</label>
										<input class="form-control" placeholder="Patient Number" type="text" [(ngModel)]="model.ccc_number" name="ccc_number">
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Last Name</label>
										<input class="form-control" placeholder="Last name" type="text" [(ngModel)]="model.last_name" name="last_name">
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>*First Name</label>
										<input class="form-control" placeholder="First Name" type="text" [(ngModel)]="model.first_name" name="first_name">
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Other Name</label>
										<input class="form-control" placeholder="Other Name" type="text" [(ngModel)]="model.other_name" name="other_name">
									</div>
									<!-- Date picker -->
									<div class="col-sm-6">
										<div class="form-group">
											<label>*Date of Birth:</label>
											<div class="input-group">
												<input type="text" name="mydate" placeholder="Select a date" class="form-control datepicker" [saUiDatepicker]="{ dateFormat: 'mm/dd/yy' , changeMonth: true, changeYear: true, yearRange : 'c-65:c+0'}"
													(selectDate)='getDate($event)'>
												<!--name="mydate" placeholder="Select a date" class="form-control datepicker" [saUiDatepicker]="{ dateFormat: 'dd/mm/yy' }"-->
												<!--<span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
											</div>
										</div>
									</div>
									<!-- End of date picker -->
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Place of birth</label>
										<select class="form-control" [(ngModel)]="model.place_of_birth" name="place_of_birth">
											<option selected>--Select--</option>
											<option value="Nairobi">Nairobi</option>
											<option value="Mombasa">Mombasa</option>											
										</select>
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Age (Years)</label>
										<input class="form-control" placeholder="Age (Years)" type="text" [(ngModel)]="age_in_years" name="ageYears" disabled="disabled">
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Age (Months)</label>
										<input class="form-control" placeholder="Age (Months)" type="text" [(ngModel)]="age_in_months" name="ageMonths" disabled="disabled">
									</div>
									<div *ngIf="model.gender !== 'Female'" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>*Gender</label>
										<select class="form-control" id="select-1" [(ngModel)]="model.gender" [ngModelOptions]="{standalone: true}" name="gender">
											<option value="Male">Male</option>
											<option value="Female">Female</option>
										</select>
									</div>
									<div *ngIf="model.gender === 'Female'" class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Gender</label>
										<select class="form-control" id="select-1" [(ngModel)]="model.gender" [ngModelOptions]="{standalone: true}" name="gender">
											<option value="Male">Male</option>
											<option value="Female">Female</option>
										</select>
									</div>
									<div *ngIf="model.gender === 'Female'" class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Pregnant?</label>
										<select class="form-control" id="select-1" [(ngModel)]="model.is_pregnant" name="is_pregnant">
											<option value="1">Yes</option>
											<option value="0">No</option>
										</select>
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Weight (KG)</label>
										<input class="form-control" placeholder="Weight" type="text" [(ngModel)]="model.current_weight" name="weight">
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Height (CM)</label>
										<input class="form-control" placeholder="Height" type="text" [(ngModel)]="model.current_height" name="height">
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Body Surface Area (MSQ)</label>
										<input class="form-control" placeholder="<<auto generate>>" [(ngModel)]="model.bsa" type="text" disabled="disabled " name="bsa" />
									</div>
									<div class="form-group col-xs-12 col-sm-5 col-md-5 col-lg-5">
										<label>Phone Contact</label>
										<input class="form-control" placeholder="e.g 0712345678" type="text" [(ngModel)]="model.contact" name="contact">
									</div>
									<div class=" form-group col-xs-12 col-sm-7 col-md-7 col-lg-7">
										<div class="row">
											<div class="col-sm-12 col-md-12">
												<label class="control-label">Receive SMS Reminders</label>
											</div>
											<div class="col-sm-12 col-md-10">
												<label class="radio radio-inline no-margin">
            									<input type="radio" value="1" class="radiobox style-2" [(ngModel)]="model.get_sms" name="is_sms"/>
												<span>Yes</span> 
												</label>
												<label class="radio radio-inline">
												<input type="radio" value="0" class="radiobox style-2" name="sms"/>
												<span>No</span> 
												</label>
											</div>

										</div>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Patients Physical Contact(s)</label>
										<textarea class="form-control" placeholder="Textarea" rows="3" [(ngModel)]="model.physical_address" name="physical_address"></textarea>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Does patient belong to any support group?</label>
										<div class=" form-group col-sm-12">
											<label class="checkbox-inline"><input class="form" type="checkbox" [(ngModel)]="ctrl" [ngModelOptions]="{standalone: true}">Yes</label>
										</div>
										<textarea class="form-control" placeholder="Textarea" rows="3" [(ngModel)]="model.support_group" name="supportGroup"></textarea>
									</div>
								</fieldset>
								<!-- Patient History -->
								<fieldset class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<legend>Patient History</legend>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Does Patient have other Chronic Illnesses</label>
										<!--<select select2 multiple style="width:100%" class="select2 form-group" [(ngModel)]="model.chronic_illnesses" name="chronicIllnesses">
											<option value="Cancer">Cancer</option>
											<option value="Athritis">Athritis</option>
											<option value="Asthma">Asthma</option>
										</select>-->
										<ss-multiselect-dropdown [options]="myOptions" [texts]="myTexts" [settings]="mySettings" [(ngModel)]="model.chronic_illnesses" (ngModelChange)="onChange($event)" [ngModelOptions]="{standalone: true}"></ss-multiselect-dropdown>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>If other Illnesses</label>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label class="checkbox-inline"><input type="checkbox">Click Here</label>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>List Them Below (Type and enter to add tag)</label>
										<!--<textarea class="form-control" rows="2" [(ngModel)]="otherIllness" name="otherIllness"></textarea>-->
										<input smartTags class="form-control tagsinput" data-role="tagsinput">
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Is Patient Taking any Other Drugs?</label>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label class="checkbox-inline"><input type="checkbox">Yes</label>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>List Them</label>
										<textarea class="form-control" rows="2" [(ngModel)]="drugs" name="drugs"></textarea>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Drug Allergies/ADR</label>
										<!--<select class="form-control" id="select-1" [(ngModel)]="model.drug_allergies" name="drugAllergies">
											<option selected>--Select--</option>
											<option value="Drug A">Drug A</option>
											<option value="Drug B">Drug B</option>
											<option value="Drug C">Drug C</option>
										</select>-->
										<ss-multiselect-dropdown [options]="allergiesList" [texts]="myTexts" [settings]="mySettings"></ss-multiselect-dropdown>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Does Patient have any Other Drugs/ADR not Listed?</label>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label class="checkbox-inline"><input type="checkbox">Yes</label>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>List Them</label>
										<textarea class="form-control" rows="2" [(ngModel)]="model.other_drugs" name="otherDrugs"></textarea>
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Does Patient Smoke?</label>
										<select class="form-control" id="select-1" [(ngModel)]="model.is_smoke" name="smoke">
											<option value="0">No</option>
											<option value="1">Yes</option>
										</select>
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Does Patient Drink Alcohol?</label>
										<select class="form-control" id="select-1" [(ngModel)]="model.is_alcohol" name="alcohol">
											<option value="0">No</option>
											<option value="1">Yes</option>
										</select>
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Has Patient been tested for TB?</label>
										<select class="form-control" id="select-1" [(ngModel)]="model.is_tb_tested" name="tbTested">
											<option value="0">No</option>
											<option value="1">Yes</option>
										</select>
									</div>
									<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<label>Does Patient have TB?</label>
										<select class="form-control" id="select-1" [(ngModel)]="model.is_tb" name="tb">
											<option value="0">No</option>
											<option value="1">Yes</option>
										</select>
									</div>
								</fieldset>

								<!-- Patient Information -->
								<fieldset class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<legend>Patient Information</legend>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group">
											<label>Enrolment date:</label>
											<div class="input-group">
												<input type="text" name="mydate" placeholder="Select a date" class="form-control datepicker" [saUiDatepicker]="{
                                    dateFormat: 'dd/mm/yy'
                                 }">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
										</div>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Current Status</label>
										<select class="form-control" id="select-1" [(ngModel)]="model.status" name="status">
											<option selected>--Select--</option>
											<option value="Active">Active</option>
											<option value="Inactive">Inactive</option>
										</select>
									</div>
									<div class="col-sm-12">
										<label>Source of Patient</label>
										<select class="form-control" id="select-1" [(ngModel)]="source" name="source">
											<option *ngFor="let source of patientSources">{{source.name}}</option>
											<!--<option selected>Select</option>-->
											<!--<option value="In-patient">In-patient</option>
											<option value="Out-patient">Out-patient</option>-->
										</select>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Type of Service</label>
										<select class="form-control" id="select-1" [(ngModel)]="service" name="service" aria-placeholder="Select One">
											<option *ngFor="let service of patientServices" value="{{service.id}}">{{service.type}}</option>
										</select>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Start Regimen</label>
										<select class="form-control" id="select-1" [(ngModel)]="regimen.id" name="regimen">
											<option selected>--Select--</option>
											<!--<option *ngFor="let regimen of regimens" value="{{regimen.id}}">{{regimen.name}}</option>-->
											<option value="1">Regimen A</option>
											<option value="2">Regimen B</option>
											<option value="3">Regimen C</option>
										</select>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Start Regimen Date</label>
										<input type="text" name="mydate" placeholder="Regimen start date" class="form-control datepicker" [saUiDatepicker]="{
                                    dateFormat: 'dd/mm/yy'
                                 }">
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>WHO Stage</label>
										<select class="form-control" id="select-1" [(ngModel)]="who_stage.id" name="who_stage">
											<option selected>--Select--</option>
											<!--<option value="{{who_stage.id}}">{{who_stage.name}}</option>-->
											<option value="1">Stage 1</option>
											<option value="2">Stage 2</option>
											<option value="3">Stage 3</option>
										</select>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label>Drug Prophylaxis</label>
										<select class="form-control" id="select-1" [(ngModel)]="prophylaxis" name="prophylaxis">
											<option selected>--Select--</option>
											<!--<option *ngFor="let prophylaxis of prophylaxiss" value="{{prophylaxis.id}}">{{prophylaxis.name}}</option>-->
											<option value="1">Prophylaxis A</option>
											<option value="2">Prophylaxis B</option>
											<option value="3">Prophylaxis C</option>
										</select>
									</div>
									<div class="col-sm-12" align="right">
										<button class="btn btn-primary" type="submit">
													<i class="fa fa-save"></i> Save
												</button>
										<button class="btn btn-primary" type="button">
													<i class="fa fa-save"></i> Dispense
												</button>
										<input type="reset" class="btn btn-danger button_size" value="Reset">
									</div>
								</fieldset>
							</form>

						</div>
						<!-- end widget content -->

					</div>
					<!-- end widget div -->
				</sa-widget>
			</article>
		</div>
	</sa-widgets-grid>
</div>